<!--Rezept Name-->
<mat-form-field appearance="fill" class="neuesRezeptFeld">
    <mat-label>Rezept Name</mat-label>
    <input matInput #recipeName>
</mat-form-field><br/>
<!--Zutaten-->
<mat-form-field appearance="fill" class="Zutat">
    <mat-label>Zutat</mat-label>
    <mat-select [(ngModel)]="selectedIngredient">
        <mat-option *ngFor="let ingredient of posIngredients" [value]="ingredient" >
            {{ingredient.name}}
            </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" class="Menge">
    <mat-label>Menge</mat-label>
    <input matInput #ingredientAmount>
</mat-form-field>
<div *ngIf="selectedIngredient">
    <button mat-raised-button class="plus-button" (click)="addIngredientField(selectedIngredient, ingredientAmount.value)">+</button>
</div>

<ul>
    <li *ngFor="let ingredient of exportIngredients">
        {{ingredient.amount}}{{ingredient.unit}} {{ingredient.name}}
        <button mat-raised-button (click)="removeIngredient(ingredient)">-</button>
    </li>
</ul><br/>

<!--Zubereitung-->
<mat-form-field appearance="fill" class="neuesRezeptFeld">
    <mat-label>Zubereitung</mat-label>
    <textarea matInput #recipePrep></textarea>
</mat-form-field><br/>
<!--Speichern-->
<button mat-raised-button class="add-button" (click)="add(recipeName.value, recipePrep.value)">
    Rezept hinzufügen
</button>