section {
    display: table;
  }

.button {
    display: table-cell;
    width: 490px;
  }
  
  .button .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }